<div class="center w-100 br3 hidden ba b--grey-3 mv4">
  <span class="f6 b br3 br--top b--grey-3 mv0 pv2 ph3">About the Author:</span>
  <div class="pa3 bt b--grey-3 flex">
    <div class="w-20-ns">
      <img src="https://www.doorwaysmagazine.com/img/author_bio.jpg" alt="Joanna Stewart" nopin="nopin">
    </div>
    <div class="f6 w-80-ns lh-copy ph2">
      Joanna Stewart is an experienced interior designer, construction management expert and DIY enthusiast. She enjoys helping homeowers get the most value out of their remodeling budgets.
    </div>
  </div>
</div>
