<footer class="bg-black ph3 pv4 grey-2">

	<div class="mw7 center pt3">

		<div class="measure-wide center mb4 f6">

			<p class="tc">Copyright Doorways Magazine - All Rights Reserved</p>
			
<p class="tc ">DoorwaysMagazine.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. Amazon and the Amazon logo are trademarks of Amazon.com, Inc. or its affiliates.</p>
			

		</div>

		
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
