<footer> 
<div class="bg-grey-4 ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure center mb4">

			
			<p class="f3 lh-title light-gray b tc mb2">How Much Does it Cost to Build a House?</p>
			<p class="tc">It might cost less than you think to design your dream home...</p>

			<div class="tc">
				<a href="https://www.doorwaysmagazine.com/cost-to-build-a-house/" class="btn raise" id="cta-footer">Learn More</a>
			</div>

		</div>
	
	</div>
</div>


<div class="bg-black white">
	<div class="measure center pt3">
		
		<p class="tc f6">Copyright Doorways Magazine - All Rights Resereved - <a href="/privacy/" class="link">Privacy Policy</a></p>
		<p class="tc f6">DoorwaysMagazine.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com. Amazon and the Amazon logo are trademarks of Amazon.com, Inc. or its affiliates.</p>

	</div>
</div>
		
</footer>

{{ partial "svg" . }}

</body>

</html>
