<head>

	<title>{{ .Title }} | Doorways Magazine</title>
	<meta name="description" content="{{ .Description }}"/>
	
	<!-- Open Graph -->
	<meta property="og:site_name" content="Doorways Magazine" />
	{{ template "_internal/opengraph.html" . }}
	
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="apple-mobile-web-app-title" content="Doorways Magazine">
	<meta name="application-name" content="Doorways Magazine">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="theme-color" content="#ffffff">
	
	<!-- Critical Path CSS -->
	{{ partial "critical-css" . }}
	
	<!-- DNS Prefetch -->
	<link rel="dns-prefetch" href="//www.googletagmanager.com">
	
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNJ26DZ');</script>
<!-- End Google Tag Manager -->
	
	<!-- Google Ads -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8708113587991923",
          enable_page_level_ads: true
     });
</script>
<!-- End Google Ads -->
	
</head>
