<p><em>Comments are currently closed.</em></p>

<div class="mw7 center">
	<span class="f4 b sans-serif">Read Next</span>
  <ul class="flex-ns flex-wrap mhn1-ns">
  
{{ with .PrevInSection }}
          <div class="w-50-ns ph1-ns flex">
            <a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
	<h2 class="f4 b lh-title mb1 primary">{{ .Title }}</h2>

	<p class="mb0 f6">{{ .Description }}</p>
</a>
          </div>
{{ end }}
   
{{ with .NextInSection }}
<div class="w-50-ns ph1-ns flex">
            <a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
	<h2 class="f4 b lh-title mb1 primary">{{ .Title }}</h2>
	
	<p class="mb0 f6">{{ .Description }}</p>
</a>
          </div>
      {{ end }}
  </ul>
 
</div>
