<div class="mw7 center sans-serif tc">

 <a href="https://www.doorwaysmagazine.com/cost-to-build-a-house/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Cost to Build a House</a>
 <a href="https://www.doorwaysmagazine.com/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Home Design Ideas</a>
 <a href="https://www.doorwaysmagazine.com/home-inspection-cost/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Home Inspection Cost</a>
 <a href="https://www.doorwaysmagazine.com/popular-bedroom-paint-color-ideas/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Bedroom Paint Color Ideas</a>
 <a href="https://www.doorwaysmagazine.com/complete-guide-marble-countertops/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Marble Countertops</a>
 <a href="https://www.doorwaysmagazine.com/average-bedroom-size/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Average Bedroom Size</a>
 <a href="https://www.doorwaysmagazine.com/timbertech-vs-trex/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">TimberTech vs Trex</a>
  <a href="https://www.doorwaysmagazine.com/uba-tuba-granite/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Uba Tuba Granite</a>
  <a href="https://www.doorwaysmagazine.com/ceramic-tile-that-looks-like-wood/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Tile That Looks Like Wood</a>
  <a href="https://www.doorwaysmagazine.com/sanded-vs-unsanded-grout/" class="f7 grow no-underline br-pill ba ph3 pv1 mb2 dib grey-3">Sanded vs Unsanded Grout</a>
 
</div>
