<div class="sans-serif tc">

 <a href="https://www.doorwaysmagazine.com/cost-to-build-a-house/" class="f7 grow no-underline br-pill ba ph3 pv2 mb2 dib grey-4">Cost to Build a House</a>
 <a href="https://www.doorwaysmagazine.com/" class="f7 grow no-underline br-pill ba ph3 pv2 mb2 dib grey-4">Home Design Ideas</a>
 <a href="https://www.doorwaysmagazine.com/home-inspection-cost/" class="f7 grow no-underline br-pill ba ph3 pv2 mb2 dib grey-4">Home Inspection Cost</a>
 <a href="https://www.doorwaysmagazine.com/popular-bedroom-paint-color-ideas/" class="f7 grow no-underline br-pill ba ph3 pv2 mb2 dib grey-4">Bedroom Paint Color Ideas</a>
 <a href="https://www.doorwaysmagazine.com/complete-guide-marble-countertops/" class="f7 grow no-underline br-pill ba ph3 pv2 mb2 dib grey-4">Marble Countertops</a>
 
</div>
