table
{
    margin-right: auto;
    margin-left: auto;
    font-size: .875rem;
    width: 100%;
    max-width: 64rem;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
font-size: .875rem;
}

th {
text-align: left;
    padding-bottom: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    font-weight: 600;
    border-color: rgba(0,0,0,.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
line-height: 1.5;
}

tbody {
line-height: 1.5;
}

td{
line-height: 1.5;
padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-color: rgba(0,0,0,.2);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
