{{ define "main" }}

  <div class="mw7 center ph3 pv2">
    <h1 class="f2 lh-title tc b mb3">{{.Title}}</h1>
    </div>
<div class="mw7 center tc ph3 pv2">
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Home Design - 728x90 ATF Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8708113587991923"
     data-ad-slot="1702621587"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="mw6 center ph3 pv2">
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
      
    <div class="cms mw6">
      {{ .Content }}
    </div>
      
  </div>
{{ end }}
