{{ define "main" }}

  <div class="mw7 center ph3 pv2">
    <h1 class="f2 lh-title tc b mb3">{{.Title}}</h1>
    </div>
    <div class="mw6 center ph3 pv2">
    <div class="f7 flex justify-between grey-3 sans-serif">
      
      <p>by <a href="https://www.doorwaysmagazine.com/about/" class="grey-3" target="_blank">Joanna Stewart</a></p>
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      
    </div>
      
    <div class="cms mw6">
      {{ .Content }}
    </div>
      
      {{ partial "bio" . }}
      
      {{ partial "next-article" . }}
      
  </div>
{{ end }}
